<a href="https://colab.research.google.com/github/Trantracy/Titanic-/blob/master/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/0AUxkXt.png)

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df = pd.read_csv('/content/drive/My Drive/FTMLE - Tonga/Data/titanic.csv')

In [0]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
df['Age'].fillna(df['Age'].mean(), inplace = True)

In [0]:
# If the reponse variable is not binary,
# Convert it to binary
df = pd.get_dummies(df, columns=['Survived'], drop_first=True)

In [0]:
pd.get_dummies(df, columns=['Sex'], drop_first=True)

     PassengerId  Survived  Pclass  ... Cabin  Embarked  Sex_male
0              1         0       3  ...   NaN         S         1
1              2         1       1  ...   C85         C         0
2              3         1       3  ...   NaN         S         0
3              4         1       1  ...  C123         S         0
4              5         0       3  ...   NaN         S         1
..           ...       ...     ...  ...   ...       ...       ...
886          887         0       2  ...   NaN         S         1
887          888         1       1  ...   B42         S         0
888          889         0       3  ...   NaN         S         0
889          890         1       1  ...  C148         C         1
890          891         0       3  ...   NaN         Q         1

[891 rows x 12 columns]

In [0]:
X = df[['Pclass', 'Age','SibSp','Parch','Fare']]
y = df['Survived']

In [0]:
# Split data to train and test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [0]:
# Create a Logistic Regression model
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

# Train the model with data
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
# Make prediction
predictions = model.predict(X_test)

In [0]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [0]:
# Accuracy
accuracy_score(y_test, predictions)

0.7150837988826816

In [0]:
# Confusion Matrix
confusion_matrix(y_test, predictions)

array([[96, 14],
       [37, 32]])

In [0]:
# Precision and Recall
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.72      0.87      0.79       110
           1       0.70      0.46      0.56        69

    accuracy                           0.72       179
   macro avg       0.71      0.67      0.67       179
weighted avg       0.71      0.72      0.70       179